body{
  display: flex;
  flex-direction: column;
}
.container{
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  flex-direction: column;
  flex: 1 0 0;
  max-width: 250px;
  max-height: 700px;
  background-color: #83C092;
}
.text {
  font-size: 24px;
  color: #DBBC7F;
  margin: 0;
}
.screen {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid black;
  background-color: #3C4841;
  padding: 40px;
  margin: 15px;
  height: 10px;
}
.button-box{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;

}
.numbers {
  display: flex;
  flex-wrap: wrap;
  max-height: 250px;
  max-width: 155px;
}
.button {
  padding: 20px;
  border: 1px solid #83C092;
  background-color: #E67E80;
}
#equal {
  width: 8px;
}
